<!-- Bannière -->
<div class="jumbotron text-center">
  <h1 class="display-4 text-white">WILD CIRCUS</h1>
  <h2 class="text-white">Le seul compliment qui me fasse plaisir à propos de notre cirque : Votre spectacle nous donne du courage.</h2>
  <h3>Un peuple de promeneurs : histoires tziganes - Alexandre Romanès</h3>
  <p class="lead mt-4">
    <a class="btn btn-success btn-lg"
    href="#"
    role="button"
    (click)="navigateToLogin()"
    >
    <strong>DÉCOUVREZ NOUS !</strong>
    </a>
  </p>
</div>
